@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    position: relative;
    max-width: 400px;
    padding: 40px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

.signup-box {
    position: relative;
    max-width: 400px;
    padding: 40px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.signup-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
    background: none;
    cursor: pointer;
}

button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

button span {
    position: absolute;
    display: block;
}

button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

.error-message{
    color: white;
    font-size: 12px;
    margin-top: 5px;
    font-style: italic;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.remember-me input[type="checkbox"] {
    appearance: none;
    border: 2px solid #03e9f4;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    background-color: #03e9f4;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
}

.remember-me input[type="checkbox"]:checked {
    background-color: #03e9f4;
    border-color: #03e9f4;
}

.remember-me input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.remember-me label {
    font-size: 0.875rem;
    color: #03e9f4;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.remember-me label:hover {
    color: #fff;
}



